
SECRET_KEY = 'xxxxxxxxxx


EMAIL_HOST = 'xxxxxxxxxx'
EMAIL_PORT = xxxxxxxxxx
EMAIL_HOST_USER = 'xxxxxxxxxx'
EMAIL_HOST_PASSWORD = 'xxxxxxxxxx'
EMAIL_USE_TLS = True



SOCIAL_AUTH_GITHUB_KEY = 'xxxxxxxxxx'
SOCIAL_AUTH_GITHUB_SECRET = 'xxxxxxxxxx'


SOCIAL_AUTH_FACEBOOK_KEY = 'xxxxxxxxxx'  # App ID
SOCIAL_AUTH_FACEBOOK_SECRET = 'xxxxxxxxxx'  # App Secret


GOOGLE_ANALYTICS_PROPERTY_ID = 'Uxxxxxxxxxx'

GOOGLE_ANALYTICS_SITE_SPEED = 'xxxxxxxxxx'
